---
import FluidImage from "../fluid-image.astro"

interface Product {
  name: string
  price: number
  page_url: string
  img_name: string
  img_alt: string
}

interface Props {
  product: Product
}

const { product, ...props } = Astro.props
---

<a href={product.page_url} class:list={[props.class, "gm-product-link"]}>
  <figure class="gm-product-link__inner">
    <FluidImage
      class="gm-product-link__image"
      src={`/images/coco-factory/grean-market/${product.img_name}`}
      alt={product.img_alt}
    />
    <figcaption class="gm-product-link__caption">
      <span class="gm-product-link__name">{product.name}</span>
      <span class="gm-product-link__price">
        ¥{product.price.toLocaleString()}
      </span>
    </figcaption>
  </figure>
</a>

<style>
  .gm-product-link__inner {
    position: relative;
  }

  .gm-product-link__image {
    border-radius: 10px;
  }

  .gm-product-link__caption {
    display: inline-flex;
    background-color: #fff;
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 2px 10px;
    border-radius: 10px;
    gap: 0.5rem;
  }
</style>
